* {
  padding: 0;
  margin: 0;
}

.header{
  width:auto;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-position: bottom;
}

.title{
  padding: 20px 0 0 20px;
}

.index-box{
  width: 840px;
  margin: 50px auto;
}

.index-boxes{
 margin: 0 auto;
 width: 840px
}

.title1{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.title2{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.title3{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.title4{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}